# Python & venv
__pycache__/
*.pyc
.venv/
.ven/

# Environment variables
.env
*.env

# Airflow runtime files
airflow/logs/
airflow/airflow.db
airflow/*.pid
airflow/*.sqlite

# OS/editor files
.DS_Store
Thumbs.db
.idea/
.vscode/